{
  "timers": [
    {
      "id": "1899df51-d097-4ff6-bf47-76fde8bd2916",
      "name": "ねこちゃん",
      "blocks": [
        {
          "type": "Wait",
          "name": "first wait",
          "minutes": 0,
          "seconds": 6
        },
        {
          "type": "Countdown",
          "name": "countdown",
          "minutes": 0,
          "seconds": 8,
          "repeat_count": 3,
          "interval_minutes": 0,
          "interval_seconds": 7
        }
      ]
    }
  ]
}